.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image_1 {
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px; /* Adjust max-width for tablet view */
        margin: 0 auto; /* Center the container */
    }

    .image_1 {
        max-width: 100%; /* Ensure the image doesn't exceed the container width */
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px; /* Adjust max-width for desktop view */
    }
}